<!DOCTYPE html>
<html lang="en">
<head>
      {% load static %}
     {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Title</title>
 <link rel="stylesheet" href="{% static 'home.css' %}" />

</head>
<body>

<h1>Food Review in Singapore</h1>
 <h2>By Nyein Chan Kyaw Swar, Kay Thi Swe Tun, Ei Theingi Swe</h2>
  <nav>
      <ul>
          <li><a href="#">Home</a></li>
          <li class="visited sub"><a href="#">Categories</a>
              <ul>

                  {% for key, values in cat.items %}
                <li>
                    <a href="">  {{values}} </a>
                </li>

                {% endfor %}


              </ul>


          </li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Contact</a></li>
      </ul>

  </nav>


</body>
</html>